<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners index page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgtrainingpetclinic.model.Owner"*/-->
    <h1 th:text="'List of owners'">Owners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">Prénom</th>
            <th style="width: 150px;">Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">Vince</td>
            <td th:text="${owner.lastName}">91</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
