<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets index page</title>
</head>
<body>
<h1 th:text="'List of veterinarians'">Vets</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Vince</td>
        <td th:text="${vet.lastName}">91</td>
    </tr>
    </tbody>
</table>
</body>
</html>
